/*defining variables*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* position: relative; */
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #f1f5f9;
}
h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 1.2rem;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 4.2rem;
  font-weight: 500;
  line-height: 1.4;
}
.section-title {
  max-width: 85rem;
  margin: 0 auto;
  margin-top: 12.6rem;
  margin-bottom: 8rem;
}
hr {
  border: 0.1px solid #ddd;
}
header {
  margin: 0 auto;
  height: 100vh;
}
img {
  overflow: clip;
  overflow-clip-margin: content-box;
}
.hidden {
  display: none !important;
}
.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
.section--hidden {
  opacity: 0;
  transform: translateY(10rem);
}
.section {
  transition: all 1s;
}
::-webkit-scrollbar {
  width: 0.8rem;
  background-color: rgba(55, 56, 61, 0.1);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: var(--color-primary);
}
/*HERO-SECTION*/

.section-hero {
  max-width: 115rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.hero-description {
  align-self: center;
}
.hero-para,
.primary-heading {
  margin-bottom: 2.8rem;
}
.primary-heading {
  font-size: 5.4rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -1px;
}
.hero-image img {
  width: 100%;
}

.hero-para {
  font-size: 2.4rem;
  font-weight: 500;
}

.learn-more:link,
.learn-more:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-primary);
  padding-inline: 1px;
  padding: 5px;
  border-bottom: 1px solid currentColor;
  transition: all 0.1s;
}

.learn-more:hover,
.learn-more:active {
  border-color: transparent;
}
.hero-highlight {
  position: relative;
}
.hero-highlight::after {
  content: '';
  position: absolute;
  display: block;
  background: var(--gradient-primary);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.08) skewX(-15deg);
}

/*navigation*/
.flex {
  display: flex;
}

.main-navigation {
  width: 100%;
  padding: 0 6rem;
  align-items: center;
  height: 9rem;
  margin-bottom: 9.6rem;
}
.nav-list {
  margin-left: auto;
}

.nav-list-items {
  gap: 3.2rem;
  list-style: none;
}

.nav-list-item > a:link,
.nav-list-item > a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555;
}

.company-logo img {
  height: 4.5rem;
}

.open-account:link,
.open-account:visited {
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.2rem 2.4rem;
  font-weight: 500;
  font-size: 1.8rem;
  border-radius: 100vw;
  color: #222 !important;
  transition: all 0.3s;
}

.open-account:hover,
.open-account:active {
  background-color: var(--color-primary-darker);
}

/*FEATURE-SECTION*/
.section-features {
  margin-bottom: 8rem;
}
.feature-grid {
  max-width: 115rem;
  gap: 4.4rem;
  /* row-gap: 1.4rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

.feature-description {
  flex-direction: column;
  gap: 1.4rem;
  align-self: center;
  justify-self: center;
  width: 80%;
}

.feature-grid img {
  width: 100%;
}
.img-lzy {
  filter: blur(20px);
}
.feature-icon {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
  margin-bottom: 1.2rem;
}
.feature-icon > svg {
  width: 3rem;
  height: 3rem;
  fill: var(--color-primary);
}

.feature-title {
  font-size: 2.2rem;
  font-weight: 600;
}
.feature-info {
  font-size: 1.6rem;
  color: #666;
  line-height: 2;
}

/*OPERTAION SECTION*/
.operation-main {
  position: relative;
  margin: 0 auto;
  max-width: 100rem;
  background-color: #fff;
  margin-block: 12.6rem;
}

.operation-buttons {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  transform: translate(-50%, -50%);
}
.operation-btn {
  border: none;
  padding: 1.6rem 4.8rem;
  font-size: 1.8rem;
  border-radius: 100vw;
  cursor: pointer;
  transition: all 0.3s;
}

.operation-details {
  display: grid;
  grid-template-columns: 10fr 90fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
  align-items: center;
  padding: 6.5rem 7rem;
  /* justify-items: center; */
}
.operation-icon {
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  justify-self: center;
}
.operation-icon > svg {
  width: 3rem;
  height: 3rem;
}
.operation-info {
  font-size: 1.6rem;
  color: #777;
  grid-column: 2;
  line-height: 2;
}
.operation-name {
  font-size: 2.4rem;
  font-weight: 500;
}
.icon-1 {
  background-color: var(--color-secondary-opacity);
}
.icon-1 > svg {
  fill: var(--color-secondary);
}
.operation-btn-1 {
  background-color: var(--color-secondary);
}
.operation-btn-1:hover {
  background-color: var(--color-secondary-darker);
}

.operation-btn-2 {
  background-color: var(--color-primary);
}

.operation-btn-2:hover {
  background-color: var(--color-primary-darker);
}
.operation-btn-3 {
  background-color: var(--color-tertiary);
}

.operation-btn-3:hover {
  background-color: var(--color-tertiary-darker);
}
.icon-2 {
  background-color: var(--color-primary-opacity);
}
.icon-2 > svg {
  fill: var(--color-primary);
}
.icon-3 {
  background-color: var(--color-tertiary-opacity);
}
.icon-3 > svg {
  fill: var(--color-tertiary);
}

/*to-transform button when clicked*/
.operation-btn-active {
  transform: translateY(-0.8rem);
}

/*TESTIMONIAL SECTION*/

.testimonial-slides-main {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* margin-top: 6rem; */
  /* background-color: #fff; */
  overflow-x: hidden;
  /* padding-top: 3.2rem; */
}
.left-arrow,
.right-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  height: 5rem;
  width: 5rem;
  font-size: 3.2rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  /* transform: translate(-50%, -50%); */
}
.slide {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.testimonial {
  width: 65%;
}
.review-heading {
  position: relative;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}
.review-heading::before {
  display: block;
  content: '\201C';
  top: -6rem;
  color: var(--color-primary);
  font-weight: 300;
  left: -8rem;
  font-size: 16rem;
  position: absolute;
}
blockquote {
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
  margin-bottom: 3.2rem;
}

.testimonial address {
  display: grid;
  grid-template-columns: 6.5rem 1fr;
  align-items: center;
  column-gap: 3.2rem;
  margin-left: 1.6rem;
}
.reviewer-name {
  font-size: 1.6rem;
  font-weight: 500;
}
.reviewer-location {
  font-size: 1.6rem;
  color: #777;
  grid-column: 2;
}
.reviewer-image {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  grid-row: 1 / span 2;
}
.reviewer-image img {
  border-radius: 50%;
  border: 3.5px solid var(--color-primary);
  width: 100%;
}

.right-arrow {
  right: 5%;
  transform: translate(50%, -50%);
}
.left-arrow {
  left: 5%;
  transform: translate(-50%, -50%);
}

.dots {
  position: absolute;
  display: flex;
  gap: 5px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid #bbb 1px;
  box-shadow: 0 1.5px 3px 0 #00000031;
  cursor: pointer;
}
.dot.active {
  background-color: #aaa;
}

/*JOIN NOW SECTION*/
.section-join-now {
  max-width: 80rem;
  margin: 0 auto;
  padding-block: 9.6rem;
  text-align: center;
  color: #fff;
}

h6 {
  font-size: 4rem;
  margin-bottom: 6.4rem;
}

#bottom {
  padding: 2rem 5rem;
  font-size: 3.2rem;
  font-weight: 400;
  display: inline-block;
}

footer {
  background-color: #37383d;
}

.about-company {
  max-width: 80rem;
  margin: 0 auto;
  padding: 10rem 3rem;
}
.about {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}
.about a {
  color: #fff;
}
.footer-logo {
  display: block;
  margin: 0 auto;
  height: 5rem;
  margin-block: 4.4rem;
}

.copyright-info {
  color: rgba(255, 255, 255, 0.532);
  font-size: 1.4rem;
  text-align: center;
}

.copyright-info a {
  color: #fff;
}

.hr-footer {
  border: 0.1px solid rgba(255, 255, 255, 0.075);
}

/*openc-account panel*/
h5 {
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.highlight-in-popup {
  margin-left: 1rem;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 100;
  background-color: rgba(255, 255, 255, 0.079);
  backdrop-filter: blur(5px);
  transition: all 0.5s;
  z-index: 100;
}

.open-account-panel {
  background-color: inherit;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 100;
  transform: translate(-50%, -50%);
  padding: 5rem 6rem;
  max-width: 60rem;
  box-shadow: 4px 4px 8px rgb(51, 51, 51, 0.3);
  /* height: 60%; */
  transition: 0.5s;
  z-index: 1000;
}
.close-btn {
  position: absolute;
  font-size: 4.8rem;
  top: 1%;
  right: 4%;
  cursor: pointer;
}
.open-account-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.2rem;
  justify-content: start;
  align-items: center;
}
.open-account-form input {
  height: 4.2rem;
  border: none;
  border-radius: 9px;
}
.open-account-form label {
  font-size: 2.4rem;
  color: #666;
}

.open-account.next-step {
  font-size: 1.6rem;
  grid-column: 1 / 3;
  justify-self: center;
  display: inline-block;
  padding: 1.25rem 4.5rem;
  margin-top: 1.2rem;
}

/*cookie message*/
.cookie-message {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.6rem;
  justify-content: space-between;
  padding: 1.6rem 3.2rem;
  background-color: #fff;
  font-size: 1.6rem;
  align-items: center;
  z-index: 5000;
}
#cookie-close {
  display: inline-block;
  padding: 0.8rem 3.2rem;
}

/*immersive*/
/* .immersive-section {
  height: 30rem;
  max-width: 80rem;
  margin: 0 auto;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  padding-inline: 3.2rem;
}

.immersive {
  font-size: 2.8rem;
  color: #37383d;
  transition: all 1s;
}
.immersive {
  transition: all 0.5s;
}

.immersive.scale {
  transform: scale(1.1);
} */
